.pizza-item {
    border: 1px solid deeppink;
    margin: 1rem;
    padding: 0 1rem 1rem;
    border-radius: 5px;
    background-color: #fff;
}
.pizza-button {
    background-color: transparent;
    border: 2px deepskyblue solid;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}
.pizza-button:hover {
    cursor: pointer;
}